.navbar {
   display: flex;
   justify-content: space-around;
   color: black;
   position: absolute;
   width: 100%;
   top: 0px;
   text-align: center;
   background-image: linear-gradient(to bottom, grey, white)
}
.home {
   color: black;
}
.home:hover {
   text-decoration: underline;
}